# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://jashkenas.github.com/coffee-script/
class Census
  constructor : (@authKey) ->
      
  queryCensus : ->
    @searchFilters = [
      'B02001_001E',  # 0. total race
      'B02001_002E',  # 1. total caucasian american
      'B02001_003E',  # 2. total african american
      'B02001_004E',  # 3. total native american
      'B02001_005E',  # 4. total asian american
      'B02001_006E',  # 5. total native hawaiian
      'B17020A_001E', # 6. total caucasian american under poverty
      'B17020A_003E', # 7. caucasian american under 5
      'B17020A_004E', # 8. caucasian american 5
      'B17020A_005E', # 9. caucasian american 6 to 11
      'B17020A_006E', # 10. caucasian american 12 to 17
      'B17020A_007E', # 11. caucasian american 18 to 64
      'B17020A_008E', # 12. caucasian american 65 to 74
      'B17020A_009E', # 13. caucasian american 75 and above
      'B17020B_001E', # 14. total african american under poverty 
      'B17020B_003E', # 15. african american under 5
      'B17020B_004E', # 16. african american 5
      'B17020B_005E', # 17. african american 6 to 11
      'B17020B_006E', # 18. african american 12 to 17
      'B17020B_007E', # 19. african american 18 to 64
      'B17020B_008E', # 20. african american 65 to 74
      'B17020B_009E', # 21. african american 75 and above
      'B17020C_001E', # 22. total native american under poverty 
      'B17020C_003E', # 23. native american under 5
      'B17020C_004E', # 24. native american 5
      'B17020C_005E', # 25. native american 6 to 11
      'B17020C_006E', # 26. native american 12 to 17
      'B17020C_007E', # 27. native american 18 to 64
      'B17020C_008E', # 28. native american 65 to 74
      'B17020C_009E', # 29. native american 75 and above
      'B17020D_001E', # 30. total asian american under poverty 
      'B17020D_003E', # 31. asian american under 5
      'B17020D_004E', # 32. asian american 5
      'B17020D_005E', # 33. asian american 6 to 11
      'B17020D_006E', # 34. asian american 12 to 17
      'B17020D_007E', # 35. asian american 18 to 64
      'B17020D_008E', # 36. asian american 65 to 74
      'B17020D_009E', # 37. asian american 75 and above
      'B17020E_001E', # 38. total hawaiian american under poverty 
      'B17020E_003E', # 39. hawaiian american under 5
      'B17020E_004E', # 40. hawaiian american 5
      'B17020E_005E', # 41. hawaiian american 6 to 11
      'B17020E_006E', # 42. hawaiian american 12 to 17
      'B17020E_007E', # 43. hawaiian american 18 to 64
      'B17020E_008E', # 44. hawaiian american 65 to 74
      'B17020E_009E'  # 45. hawaiian american 75 and above
    ]

    urlStr = ''
    _.each(@searchFilters, (element, index, list) ->
      urlStr += element + ','
    )

    $.ajax
      context : this
      type : 'get'
      url : 'http://api.census.gov/data/2010/acs5?key=' + @authKey + '&get=' + urlStr + 'NAME&for=state:*'
      success : @queryCensusSuccess

  queryCensusSuccess : (data) ->
    @populationTotals =
      totalPopulation             :
        total               : 0
        percentage          : 0
        below5              : 0
        at5                 : 0
        sixTo11             : 0
        twelveTo17          : 0
        eighteenTo64        : 0
        sixtyFiveTo74       : 0
        seventyFiveAndAbove : 0
        type                : 'Total'
      caucasionAmericanPopulation :
        total               : 0
        totalBelow          : 0
        percentage          : 0
        below5              : 0
        at5                 : 0
        sixTo11             : 0
        twelveTo17          : 0
        eighteenTo64        : 0
        sixtyFiveTo74       : 0
        seventyFiveAndAbove : 0
        type                : 'Caucasian'
      africanAmericanPopulation   :
        total               : 0
        totalBelow          : 0
        percentage          : 0
        below5              : 0
        at5                 : 0
        sixTo11             : 0
        twelveTo17          : 0
        eighteenTo64        : 0
        sixtyFiveTo74       : 0
        seventyFiveAndAbove : 0
        type                : 'African'
      nativeAmericanPopulation    :
        total               : 0
        totalBelow          : 0
        percentage          : 0
        below5              : 0
        at5                 : 0
        sixTo11             : 0
        twelveTo17          : 0
        eighteenTo64        : 0
        sixtyFiveTo74       : 0
        seventyFiveAndAbove : 0
        type                : 'Native'
      asianAmericanPopulation     :
        total               : 0
        totalBelow          : 0
        percentage          : 0
        below5              : 0
        at5                 : 0
        sixTo11             : 0
        twelveTo17          : 0
        eighteenTo64        : 0
        sixtyFiveTo74       : 0
        seventyFiveAndAbove : 0
        type                : 'Asian'
      hawaiianAmericanPopulation  :
        total               : 0
        totalBelow          : 0
        percentage          : 0
        below5              : 0
        at5                 : 0
        sixTo11             : 0
        twelveTo17          : 0
        eighteenTo64        : 0
        sixtyFiveTo74       : 0
        seventyFiveAndAbove : 0
        type                : 'Hawaiian'

    _.each(data, (element, index, list) ->
      if index isnt 0
        @populationTotals.totalPopulation.total                           += parseInt(element[0], 10)

        @populationTotals.caucasionAmericanPopulation.total               += parseInt(element[1], 10)
        @populationTotals.caucasionAmericanPopulation.totalBelow          += parseInt(element[6], 10)
        @populationTotals.caucasionAmericanPopulation.below5              += parseInt(element[7], 10)
        @populationTotals.caucasionAmericanPopulation.at5                 += parseInt(element[8], 10)
        @populationTotals.caucasionAmericanPopulation.sixTo11             += parseInt(element[9], 10)
        @populationTotals.caucasionAmericanPopulation.twelveTo17          += parseInt(element[10], 10)
        @populationTotals.caucasionAmericanPopulation.eighteenTo64        += parseInt(element[11], 10)
        @populationTotals.caucasionAmericanPopulation.sixtyFiveTo74       += parseInt(element[12], 10)
        @populationTotals.caucasionAmericanPopulation.seventyFiveAndAbove += parseInt(element[13], 10)

        @populationTotals.africanAmericanPopulation.total                 += parseInt(element[2], 10)
        @populationTotals.africanAmericanPopulation.totalBelow            += parseInt(element[14], 10)
        @populationTotals.africanAmericanPopulation.below5                += parseInt(element[15], 10)
        @populationTotals.africanAmericanPopulation.at5                   += parseInt(element[16], 10)
        @populationTotals.africanAmericanPopulation.sixTo11               += parseInt(element[17], 10)
        @populationTotals.africanAmericanPopulation.twelveTo17            += parseInt(element[18], 10)
        @populationTotals.africanAmericanPopulation.eighteenTo64          += parseInt(element[19], 10)
        @populationTotals.africanAmericanPopulation.sixtyFiveTo74         += parseInt(element[20], 10)
        @populationTotals.africanAmericanPopulation.seventyFiveAndAbove   += parseInt(element[21], 10)

        @populationTotals.nativeAmericanPopulation.total                  += parseInt(element[3], 10)
        @populationTotals.nativeAmericanPopulation.totalBelow             += parseInt(element[22], 10)
        @populationTotals.nativeAmericanPopulation.below5                 += parseInt(element[23], 10)
        @populationTotals.nativeAmericanPopulation.at5                    += parseInt(element[24], 10)
        @populationTotals.nativeAmericanPopulation.sixTo11                += parseInt(element[25], 10)
        @populationTotals.nativeAmericanPopulation.twelveTo17             += parseInt(element[26], 10)
        @populationTotals.nativeAmericanPopulation.eighteenTo64           += parseInt(element[27], 10)
        @populationTotals.nativeAmericanPopulation.sixtyFiveTo74          += parseInt(element[28], 10)
        @populationTotals.nativeAmericanPopulation.seventyFiveAndAbove    += parseInt(element[29], 10)

        @populationTotals.asianAmericanPopulation.total                   += parseInt(element[4], 10)
        @populationTotals.asianAmericanPopulation.totalBelow              += parseInt(element[30], 10)
        @populationTotals.asianAmericanPopulation.below5                  += parseInt(element[31], 10)
        @populationTotals.asianAmericanPopulation.at5                     += parseInt(element[32], 10)
        @populationTotals.asianAmericanPopulation.sixTo11                 += parseInt(element[33], 10)
        @populationTotals.asianAmericanPopulation.twelveTo17              += parseInt(element[34], 10)
        @populationTotals.asianAmericanPopulation.eighteenTo64            += parseInt(element[35], 10)
        @populationTotals.asianAmericanPopulation.sixtyFiveTo74           += parseInt(element[36], 10)
        @populationTotals.asianAmericanPopulation.seventyFiveAndAbove     += parseInt(element[37], 10)

        @populationTotals.hawaiianAmericanPopulation.total                += parseInt(element[5], 10)
        @populationTotals.hawaiianAmericanPopulation.totalBelow           += parseInt(element[38], 10)
        @populationTotals.hawaiianAmericanPopulation.below5               += parseInt(element[39], 10)
        @populationTotals.hawaiianAmericanPopulation.at5                  += parseInt(element[40], 10)
        @populationTotals.hawaiianAmericanPopulation.sixTo11              += parseInt(element[41], 10)
        @populationTotals.hawaiianAmericanPopulation.twelveTo17           += parseInt(element[42], 10)
        @populationTotals.hawaiianAmericanPopulation.eighteenTo64         += parseInt(element[43], 10)
        @populationTotals.hawaiianAmericanPopulation.sixtyFiveTo74        += parseInt(element[44], 10)
        @populationTotals.hawaiianAmericanPopulation.seventyFiveAndAbove  += parseInt(element[45], 10)
    ,this)

    _.each(@populationTotals, (element, index, list) ->
      element.percentage = element.total / @populationTotals.totalPopulation.total * 100
    ,this)

    console.log @populationTotals

    @paintPixels()

  paintPixels : ->
    tmpUl = $('<ul></ul>')
    _.each(@.populationTotals, (element, index, list) ->
      $(tmpUl).append($('<li></li>').text(element.type + ' total: ' + element.total + ', percentage: ' + element.percentage.toFixed(2)))
    )

    $('#outputContainer').html(tmpUl)
  
$(document).ready ->
  cents_us = new Census($('#authKey').attr('data-authKey'))
  cents_us.queryCensus()
