// Place all the styles related to the Census controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$prcntg: #82CA9D;
body{

  h1,h2,h3,h4,h5,h6,p,div{
    font-family:helvetica;
    font-weight:200;
  }

  ul{
    li{
      list-style-type:none;
    }
  }

  #main{
    margin-top:40px;

    .prctg{
      color:$prcntg;
    }
  }
}
